# Server Configuration
SERVER_PORT=8080

# PostgreSQL
POSTGRES_DB=cryptopal
POSTGRES_USER=cryptopal_app
POSTGRES_PASSWORD=your_password
POSTGRES_URL=jdbc:postgresql://postgres:5432/cryptopal

# In-Memory Data Store Configuration (Redis)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=<your-password>

# Cryptographic Material
JWT_SECRET=secret_change_me

# External AI Service Provider
GEMINI_API_KEY=your_google_gemini_api_key
GEMINI_MODEL=gemini-flash-lite-latest